service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      allow read, write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.access;
    }

    match /access/{doc} {
      allow read;
      allow write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/access/$(request.auth.uid).data.roles)
    }

    match /registrations/{registration} {
      allow read, write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.access;
    }

    match /events/{event} {
      allow read, write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.access;
    }

    match /persons/{person} {
      allow read, write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.access;
    }

    match /companies/{doc} {
      allow read, write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.access;
    }

    match /notifications/{doc} {
      allow read, write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.access;
    }
    
    match /declarations/{doc} {
      allow write;
      allow read, write: if "SUPER_ADMIN" in get(/databases/$(database)/documents/users/$(request.auth.uid)).data.access;
    }
  }
}