<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column" *ngIf="auth.user$ | async as user">
        <h1 class="title">Account</h1>
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64" *ngIf="user.photoURL!==null">
              <img class="is-rounded" [src]="user.photoURL">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ user.displayName }}</p>
            <p class="subtitle is-6">{{ user.email }}</p>
          </div>
        </div>
      </div>
      <div class="column">
        <h1 class="title">Toegangsrollen</h1>
        <ul>
          <li *ngFor="let role of roles">
            - {{ role }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>