<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <p class="title">Registratie</p>
            </div>
            <div class="level-right">
                <a class="button is-warning" (click)="editRegistration()">Bewerken</a>&nbsp;
                <a class="button is-danger" (click)="deleteRegistration()">Verwijder</a>
            </div>
        </div>

        <strong>Naam:</strong> {{ (registration | async)?.personal.first_name }} {{ (registration | async)?.personal.last_name }}<br />
        <strong>Adres:</strong> {{ (registration | async)?.address.street }} {{ (registration | async)?.address.house_nr }}<br />
        {{ (registration | async)?.address.postal_code }}  {{ (registration | async)?.address.city }}<br />
        {{ (registration | async)?.address.country }}<br />
        <strong>Contact:</strong> <br />
        - {{ (registration | async)?.contact.mobile }}<br />
        - {{ (registration | async)?.contact.phone }}<br />
        - {{ (registration | async)?.contact.email }}<br />
        <strong>Evenement:</strong><br />
        - Deelname: {{ (registration | async)?.event.tieners.participation }}<br />
        - Taak: {{ (registration | async)?.event.tieners.job }}<br />
        - Track: {{ (registration | async)?.event.tieners.track }}<br />
        - Motivatie: {{ (registration | async)?.event.tieners.motivation }}<br />
        - Kamergenoten: {{ (registration | async)?.event.tieners.room_mates }}<br />
        <strong>Overig:</strong><br />
        - Geboortedatum: {{ (registration | async)?.personal.birthday }}<br />
        - Eerste keer: {{ (registration | async)?.event.tieners.first_time }}<br />
        - EHBO/BHV: {{ (registration | async)?.event.first_aid }}<br />
        - Bijzonderheden: {{ (registration | async)?.notes }}<br />
        <strong>Tijdstempel:</strong> {{ (registration | async)?.timestamp || '' | timestamp }}<br />
    </div>
</section>