<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-4-widescreen">
                    <div class="card">
                        <div class="card-content login">
                            <p class="title">
                                Already an account?
                            </p>
                            <p class="subtitle">
                                Sign in to continue.
                            </p>
                            <form [formGroup]="credentials" (ngSubmit)="onLogin()">
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control">
                                        <input class="input" formControlName="email" type="text">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        <input class="input" formControlName="password" type="password">
                                    </div>
                                </div>
                                <button class="button is-primary is-fullwidth" type="submit">Submit</button>
                            </form>
                            <br />
                            <h6 class="subtitle is-6 has-text-centered">or</h6>
                            <div class="has-text-centered">
                                <a class="button is-info" (click)="onLoginWithGoogle()">Login with Google</a>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item register">
                                <span>
                                    <a class="button is-white" routerLink="/register">
                                        Register
                                    </a>
                                </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>