<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <p class="title">Betaling</p>
            </div>
        </div>

        <strong>Status:</strong> {{ payment?.status }}<br />
        <strong>Tijdstempel:</strong> {{ payment?.timestamp | timestamp }}<br />
        <hr />
        <h1 class="subtitle">Mollie</h1>
        <strong>Bedrag:</strong> €{{ payment?.mollie?.amount.value }}<br />
        <strong>Beschrijving:</strong> {{ payment?.mollie?.description }}<br />
    </div>
</section>